.input__results__wrapper {
  flex: 1;
  top: 40px;
  position: absolute;
  border-top-style: none;
  border-radius: 4px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  overflow-y: scroll;
  width: -webkit-fill-available;
}

.input__results__wrapper--disabled {
  display: none;
}
