.input__results__wrapper {
  top: 40px;
  position: absolute;
  border-top-style: none;
  border-radius: 4px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.input__results__wrapper--disabled {
  display: none;
}
